<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bookers</title>
	<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<h1>ようこそ Bookers へ！</h1>
	<div class="text-box">
		<p class="text">
		Bookers　では、さまざまな書籍に関するあなたの意見や<br>
		印象を共有し交換することができます
		</p>
		<a href="/books">start</a>
	</div>
</body>
</html>
